body {
  margin: 0;
  background-color: #f4f6f8;
}

a {
  text-decoration: none;

  * {
    transition: color 0.5s;

    &:hover {
      color: #777 !important;
      transition: color 0.5s;
    }
  }
}