body {
  margin: 0;
  background-color: #f4f6f8;
}



.dec {
  width: 88px;
  height: 36px;
  color: white;
  left: 0px;
  z-index: 9;
  bottom: -15.5px;
  position: absolute;
}


#gradient-canvas {
  --gradient-color-1: #da3535;
  --gradient-color-2: #0e5c94;
  --gradient-color-3: #1f3ea4;
  --gradient-color-4: #90000c;
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}