body {
  margin: 0;
  background-color: #f4f6f8;
}

a {
  text-decoration: none;

  * {
    transition: color 0.5s;

    &:hover {
      color: #777 !important;
      transition: color 0.5s;
    }
  }
}

.dec {
  width: 88px;
  height: 36px;
  color: #f4f6f8;
  left: 0px;
  z-index: 9;
  bottom: -15.5px;
  position: absolute;
}