.upea {
    background: -webkit-linear-gradient(300deg, rgb(16, 20, 245) 0%, rgb(235, 26, 26) 25%, rgb(16, 20, 245) 50%, rgb(235, 26, 26) 75%, rgb(16, 20, 245) 100%) 0% 0% / 400% padding-box text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    font-weight: 900 !important;
    animation: upeaanimation 20s infinite ease-out;
}

@keyframes upeaanimation {
    0% {
        background-position: 0% center;
    }

    50% {
        background-position: 100% center;
    }

    100% {
        background-position: 200% center;
    }
}

.imagen-container {
    .imagen {
        position: relative;
        top: -45px;
        width: 100%;
        height: 95%;
        background-image: url('/fondo.png');
        background-size: cover;
        background-repeat: repeat-y;
        background-position: top center;
        animation: scroll-vertical 70s linear infinite;
        transform: perspective(1000px) rotateX(0deg) rotateY(-25deg);

        &::before {
            content: '';
            width: 100%;
            position: absolute;
            top: 0;
            height: 100%;
            background: linear-gradient(180deg, rgba(244, 246, 248, 0.9) 0%, rgba(244, 246, 248, 0) 100%);
        }

    }

}



@keyframes scroll-vertical {
    from {
        background-position: top center;
    }

    to {
        background-position: bottom center;
    }
}

.dec-right,
.dec-left {
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.328);
    z-index: 9;
    width: 50%;
    position: absolute;
    bottom: 0;

    &.first {
        right: 0px;
        clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
        height: 300px;
    }

    &.second {
        right: 0px;
        clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
        height: 200px;
    }

    &.third {
        right: 0px;
        clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
        height: 100px;
    }
}

.dec-left {

    &.first {
        left: 0px;
        clip-path: polygon(100% 100%, 0 50%, 0 100%);
        height: 300px;
    }

    &.second {
        left: 0px;
        clip-path: polygon(100% 100%, 0 50%, 0 100%);
        height: 200px;
    }

    &.third {
        left: 0px;
        clip-path: polygon(100% 100%, 0 50%, 0 100%);
        height: 100px;
    }
}

.monolito {
    opacity: 0.1;
    scale: 0.5;
}



.dec {
    width: 88px;
    height: 36px;
    color: #f4f6f8;
    left: 0px;
    z-index: 9;
    bottom: -15.5px;
    position: absolute;
}