.upea {
    background: -webkit-linear-gradient(300deg, rgb(255, 255, 255) 0%, rgb(255, 216, 216) 25%, rgb(255, 255, 255) 50%, rgb(255, 198, 198) 75%, rgb(255, 255, 255) 100%) 0% 0% / 400% padding-box text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    font-weight: 900 !important;
    animation: upeaanimation 20s infinite ease-out;
}

@keyframes upeaanimation {
    0% {
        background-position: 0% center;
    }

    50% {
        background-position: 100% center;
    }

    100% {
        background-position: 200% center;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.slide-up {
    animation: slideUp 30s linear infinite;
    
}