
html{
    background-color: #eee;
}
.editor {

    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    color: #444 !important;

    .ql-toolbar {
        border: none !important;
        background-color: #fff;
        border-bottom: 1px solid #ccc !important;
    }

    .ql-container {
        border: none !important;
        background-color: #fefefe;
    }

    .ql-editor {
        min-height: 140px;
    }
}

.list {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
}

.item {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    cursor: grab;
}