html {
    background-color: transparent;
}

:root {
    --rs-primary-500: #3498ff;
    /* Color primario */
    --rs-success-500: #28a745;
    /* Color para éxito */
    --rs-danger-500: #dc3545;
    /* Color para error */
    --rs-warning-500: #ffc107;
    /* Color para advertencias */
    --rs-border-primary: rgb(182, 182, 182);
    --rs-btn-primary-hover-bg: #212121;
    --rs-btn-primary-bg: #212121;
    --rs-btn-ghost-hover-border: #212121;
    --rs-btn-ghost-border: #212121;
    --rs-btn-ghost-hover-text: #212121;
    --rs-btn-ghost-text: #212121;
    --rs-input-focus-border: var(--rs-danger-500);
    --rs-picker-value: #212121;
    --rs-state-focus-shadow: rgba(237, 62, 62, 0.387);
    --rs-listbox-option-hover-text: #212121;
    --rs-checkbox-checked-bg: #212121;
    --rs-listbox-option-hover-bg: rgba(255, 0, 0, 0.064);
    --rs-calendar-cell-selected-hover-bg: rgb(184, 0, 0);
    --rs-bg-active: #d32f2f;
    --rs-text-active: #212121;
    --rs-listbox-option-selected-text: #212121;
    --rs-listbox-option-selected-bg: rgba(184, 0, 0, 0.083);
}

.rs-btn {
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 15px;
}

.rs-input-group {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 2px #21212122;
}

.rs-input:focus {
    outline: none;
}

.rs-input-group-focus {
    outline: 3px solid rgba(255, 64, 64, 0.242) !important;
}

.rs-breadcrumb-item {
    a {
        text-decoration: none !important;
    }
}

.drop {
    transition: background-color 1s;

    &:hover {
        background-color: #eee;
        transition: background-color 1s;
    }
}

.editor {

    border: 1px solid var(--rs-border-primary);
    border-radius: 12px;
    overflow: hidden;
    color: #444 !important;

    .ql-toolbar {
        border: none !important;
        background-color: #fff;
        border-bottom: 1px solid #ccc !important;
    }

    .ql-container {
        border: none !important;
        background-color: #fefefe;
        font-size: 15px;
    }

    .ql-editor {
        min-height: 140px;
    }
}

.list {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
}

.item {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    cursor: grab;
}


.gradient-wrap {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.meshgradient>.color {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    transform: scale(3) rotate(0deg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
}

.c1 {
    background: radial-gradient(#ffc1c1 25%, transparent 50%);
    background-size: 60% 80%;
    background-position: 0 0;
    animation: c1 30s infinite linear;
}

.c2 {
    background: radial-gradient(#bb9696 25%, transparent 50%);
    background-size: 70% 80%;
    background-position: 0 100%;
    animation: c2 30s infinite linear;
}

.c3 {
    background: radial-gradient(#6166a0 25%, transparent 50%);
    background-size: 80% 80%;
    background-position: 50% 0;
    animation: c3 35s infinite linear;
}

.c4 {
    background: radial-gradient(#969dc4 25%, transparent 50%);
    background-size: 80% 80%;
    background-position: 50% 100%;
    animation: c4 26s infinite linear;
}

@keyframes c1 {
    50% {
        background-size: 80% 80%;
        background-position: 50% 100%;
        transform: scale(3) rotate(-75deg);
    }
}

@keyframes c2 {
    50% {
        background-size: 80% 80%;
        background-position: 50% 0;
        transform: scale(3) rotate(90deg);
    }
}

@keyframes c3 {
    50% {
        background-size: 70% 80%;
        background-position: 0 100%;
        transform: scale(3) rotate(8deg);
    }
}

@keyframes c4 {
    50% {
        background-position: 0 0;
        animation: c1 30s infinite;
        transform: scale(3) rotate(-36deg);
    }
}